@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #0a0a0a;
    color: #f0e0d1;
  }
  body {
    @apply bg-background text-on-surface antialiased;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
